@use "tailwindcss";
/* You can add global styles to this file, and also import other style files */
$primary-color: #2196F3; // Light blue color
$secondary-color: #64B5F6; // Lighter blue color
$tertiary-color: #BBDEFB; // Even lighter blue color
