<app-header/>
<app-navbar/>
<main>
    <h1>
        Welcome to HiveMind!
    </h1>
    <section>
        <p>
            HiveMind is a social media platform that allows you to connect with friends and family. Share your thoughts, photos, and videos
            with the world. Join today!
        </p>
    </section>
    <section>
        <h2>
            Get Started
        </h2>
        <div class="button-container">
            <button>
                <a routerLink="/login">Login</a>
            </button>
            <button>
                <a routerLink="/register">Register</a>
            </button>
        </div>
    </section>
</main>
<app-footer/>
