<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
  <div class="p-5">
    <!-- Title with Counters -->
    <div class="flex justify-between items-center mb-2">
      <h5 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white truncate">
        {{ idea.title }}
      </h5>
      <div class="flex items-center space-x-4">
        <!-- Upvotes Counter -->
        <div class="flex items-center text-green-600 dark:text-green-400">
          <svg
            class="w-5 h-5 mr-1"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 15l7-7 7 7"
            ></path>
          </svg>
          <span>{{ idea.totalUpvotes }}</span>
        </div>
        <!-- Downvotes Counter -->
        <div class="flex items-center text-red-600 dark:text-red-400">
          <svg
            class="w-5 h-5 mr-1"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
          <span>{{ idea.totalDownvotes }}</span>
        </div>
      </div>
    </div>

    <!-- Description -->
    <p
      class="mb-4 text-gray-700 dark:text-gray-400 overflow-hidden text-ellipsis line-clamp-3"
    >
      {{ idea.description }}
    </p>

    <!-- Buttons -->
    <div class="flex flex-wrap justify-between items-center mt-4 gap-2">
      <!-- Condizione per mostrare i pulsanti -->
      @if (!isCreator()) {
        <!-- Upvote Button -->
        <button
        (click)="upvote()"
        [ngClass]="{
          'bg-green-700': getUserVote()?.vote === 1, 
          'bg-gray-600': getUserVote()?.vote === -1, 
          'bg-green-600': getUserVote()?.vote == null
        }"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800"
        >
        <span class="hidden sm:block">Upvote</span>
        <svg
          class="w-4 h-4 sm:ml-2"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"></path>
        </svg>
        </button>

        <!-- Downvote Button -->
        <button
        (click)="downvote()"
        [ngClass]="{
          'bg-red-700': getUserVote()?.vote === -1, 
          'bg-gray-600': getUserVote()?.vote === 1, 
          'bg-red-600': getUserVote()?.vote == null
        }"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800"
        >
        <span class="hidden sm:block">Downvote</span>
        <svg
          class="w-4 h-4 sm:ml-2"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
        </svg>
        </button>
      }

      <!-- View Details Button -->
      <button
        (click)="viewDetails()"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-indigo-600 rounded-lg hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 dark:bg-indigo-500 dark:hover:bg-indigo-600 dark:focus:ring-indigo-800"
      >
        Details
        <svg
          class="w-4 h-4 ml-2"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>